@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100;0,300;1,100;1,200&display=swap');

*{
  color: grey; 
  font-family: 'Chivo Mono', monospace;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  background-color: #343541;
}

.side-bar{
  background-color: #202123;
  height: 100vh;
  width: 244px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

button {
  border: solid .5px grey;
  background-color: transparent;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

nav{
  border-top: solid .5px grey;
  margin: 10px;
  padding: 10px;
}

.history{
  margin: 10px;
  padding: 10px;
  height: 100%;
}
.history li {
  list-style: none;
  padding: 15px 0;
  cursor: pointer;
}
.main{
  height: 100vh;
  width: 100%;
}